<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <div th:replace="~{fragments/resources :: resources(${photo.title})}"></div>
</head>
<body>
<header th:insert="~{fragments/header :: header('create-photo')}"></header>
<div class="container py-4" th:object="${photo}">
    <div class="actions mb-3">
        <a th:href="@{/photos}" class="btn btn-danger"><i class="fa-solid fa-arrow-left"></i></a>
    </div>

    <div class="text-center page-body">
        <ul class="tag">
            <li class="d-inline-block me-2" th:each="category : *{categories}" th:text="'#' + ${category.name}"></li>
        </ul>
        <h1 class="text-danger" th:text="*{title}"></h1>
        <img th:src="@{*{imgUrl}}" th:if="!*{imageFile}">
        <img th:src="@{|/file/*{imageFile.id}|}" th:if="*{imageFile}">
        <p th:text="*{description}"></p>
        <p>Visibile:
            <i class="fa-solid fa-check btn btn-success" th:if="*{visible} == true"></i>
            <i class="fa-solid fa-x btn btn-danger" th:if="*{visible} == false"></i>
        </p>
    </div>

</div>
</body>
</html>